{% extends 'account/base.html' %}    
{% block body_block %}
    <div class="container-fluid">
        <divs class="row">
            <div style="padding-top:50px; padding-bottom: 50px;" class="col">
                <div class="row justify-contrnt-center">
                    <div class="col text-center">
                        <h1 style="font-family: 'Pacifico', cursive;"" >SignUp</h1>
                    </div>
                </div>
                <form action="" method="POST" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <div class="row justify-content-center">
                        <div class="col-5">
                            {{ user.as_p }}
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-5">
                            {{ profile.as_p }}
                        </div>
                        <script language="javascript">print_state("sts");</script>
                    </div>
                    <br>
                    {% if msg %}
                    <div class="row justify-content-center">
                        <div class="col text-center">
                            <h1>{{ msg }}</h1>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row justify-content-center">
                        <div class="col-5 text-center">
                            <button class="bg radius form-control" type="submit">Signup</button>
                        </div>
                    </div>
                </form>
                <br>
                <div class="row justify-content-center">
                    <div class="col text-center">
                        <p style="color:#002651;" >Have a Account ? <a href="{% url 'index' %}">Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}